*{ 
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(90deg, rgb(17, 115, 172) 0%, rgba(166,25,148,1) 35%, rgba(255,0,111,1) 100%) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;    
}

.menu_wrap{
    padding-top:1% ;
    padding-bottom: 1%;
    align-content: center;
    align-items: center;
    display: block;
    background-color: black;
}
.menu{
    display: flex;
    justify-content:flex-start;
    list-style: none;
    height: 10%;
}
.list{
    margin-left: 20px;
    background-color: black;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 70px;
    height: 27px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    transition: ease 0.25s;
    cursor: pointer;
}
.list:hover{
    background-color: white;
    color: black;
}
a{
    text-decoration: none;
    color: white;
    transition: ease-out 0.25s;
}
a:hover{
    color: black;
}